/*Allows the entire page to to have not margins and reach the edge of the page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*The color of the background across the entire body*/
body {
    background-color: #d9dcd6;
}

/*The stripe at the top of the page*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*"Horiseon" at the top of the page*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*Applies to the "seo" in "Hroiseon in the header"*/
.seo {
    color: #d9dcd6;
}

/*Applies to the links in the header*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Specifies the the unordered list element in the nav*/
header nav ul {
    list-style-type: none;    
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Applies to the links in the header*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Applies to all paragraphs*/
p {
    font-size: 16px;
}

/*Refers to the image that covers the top half of the page*/
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Has the images in Search Engine Optimization and Social Media Marketing*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Refers to the image in Online Reputation Management*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Applies to Search Engine Optimization, Online Reputation Management, and Social Media Marketing sections */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Applies to the three images in the main section*/
main img {
    max-height: 200px;
}

/*Refers to the classes in main*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}    

/*Applies to the headers in main*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2  {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Applies to the Benefits section to the right*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Applies to the benefit classes in the aside element*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Applies to the headers in the aside element*/
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Applies to the icons seen in the aside element*/
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Applies to the credits at the bottom of the page*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Applies to the bold text in the footer*/
footer h4 {
    font-size: 20px;
}
